.nav-wrapper{
    padding: 0 1em;
}

#form > *{
    margin: 2em 0 0 0;
}

#answer img{
    /* max-width: 400px; */
    height: 15em;
}

#answer {
    padding-top: 1em;
}

body {
    margin-bottom: 20em;
}

.card-content > ul.spaced > li {
    margin-top: 2em;
}

.card-content > .card {
    margin-top: 2em;
}

.helper-text > *:not(:first-child) {
    margin-left: .3em;
}
.helper-text > span:not(:first-child) {
    margin-left: 1.0em;
}
.card-title > .btn, .card-title > .btn-large, .card-title > .btn-small {
    margin-left: 2em;
    float: inline-end;
}

.acs-input, .obs-input {
    /* width: 20em !important; */
    width: 25em !important;
}

.two-columns > button {
    margin-left: 0.618em;
}