html {
    font-size: 18px;
}

.nav-wrapper{
    padding: 0 1em;
}

#form > *{
    margin: 2em 0 0 0;
}

#answer img{
    /* max-width: 400px; */
    width: 18em;
}

#answer {
    padding-top: 1em;
}

body {
    margin-bottom: 20em;
}

.card-content > ul.spaced > li {
    margin-top: 2em;
}

.card-content > .card {
    margin-top: 2em;
}

.card-title > .btn, .card-title > .btn-large, .card-title > .btn-small {
    margin-left: 2em;
    float: inline-end;
}

.two-columns {
    overflow: hidden;
}

.two-columns > div:first-child {   
    width: 48%;
    float: left;
}

.two-columns > div:last-child {   
    width: 48%;
    float: right;
}

.input-field {
    min-height: 120px;
}

.input-field input[type=text] {
    margin-top: -10px;
}

.input-field > * {
    margin-right: 10px
}

.btn-floating:focus {
    background-color: orange !important;
}

b {
    font-size: 130%;
}

.table-div {
    display:table;
    width: 100%;
    border-collapse:separate;
    border-spacing:10px;
}

.tr-div {
    display:table-row
}

.td-div {
    display:table-cell;
    width: 50%;
    margin: 10px;
}
