<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="css/nouislider.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="css/main.css" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="container">

    <!-- TOP NAVIGATION -->
    <nav>
      <div class="nav-wrapper light-blue">
        <a href="#" class="brand-logo light">Reprezentacja Wiedzy</a>
      </div>
    </nav>





    <ul id="dropdown" class="dropdown-content">
      <!-- <li v-for="(item, index) in items">{{item.action_domain}} {{index}}</li> -->
      <li v-for="(item, index) in items">
        <a class="blue-text" v-on:click="prefill(index)" href="#!">{{index}}</a>
      </li>
      <!-- <li><a class="blue-text" v-on:click="prefill('test')" href="#!">Test</a></li>
        <li><a class="blue-text" v-on:click="prefill('standoff')" href="#!">Warsaw Standoff</a></li>
        <li><a class="blue-text" v-on:click="prefill('indyk')" href="#!">Indyk</a></li>
        <li><a class="blue-text" v-on:click="prefill('promocja')" href="#!">Promocja</a></li> -->
    </ul>
    <!-- MAIN PAGE -->
    <div id="form">

      <a class="btn light-blue dropdown-trigger" href="#!" data-target="dropdown">Choose a prescribed story<i
          class="material-icons right">arrow_drop_down</i></a>
      <!-- ACTION DOMAIN -->
      <div class="input-field">

        <textarea v-model="action_domain" id="action_domain" class="materialize-textarea">
</textarea>
        <label for="action_domain">Action domain</label>
      </div>
      <!-- SCENARIO -->
      <div class="input-field">
        <textarea v-model="scenario" id="scenario" class="materialize-textarea"></textarea>
        <label for="scenario">Scenario</label>
      </div>
      <!-- QUERY -->
      <div class="input-field">
        <input v-model="query" id="query" type="text" class="validate">
        <label for="query">Your query to the system</label>
      </div>
      <a v-on:click="retrieve_answer()" class="waves-effect waves-light light-blue btn-large">Retrieve answer</a>


    </div>

    <!-- LOADER
    <div v-show="loading" class="preloader-wrapper big active center-align">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div> -->

  </div>

  <!-- JAVASCRIPT -->
  <script src="js/vue.js"></script>
  <script src="js/nouislider.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="/pengine/pengines.js"></script>
  <script src="js/ipc.js"></script>
  <script src="js/prescribed_stories.js"></script>
  <script src="js/main.js"></script>
</body>

</html>